/**
 * Custom user configuration file
 */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

#back-button, #forward-button { display:none!important; }

/* margin between favicon and tab name */
.tabbrowser-tab[image] .tab-label-container, .tabbrowser-tab[pendingicon] .tab-label-container, .tabbrowser-tab[busy] .tab-label-container {
  margin-left: 0;
}
.tab-icon-stack { width: auto !important; }

/* hide menu icon */
#PanelUI-button { display: none !important; }

/* since esr128? we get 1px black bottom border on navbar.. so hide that and create another */
#navigator-toolbox { border-bottom: 0 !important; }
#nav-bar { border-bottom: 1px solid var(--toolbar-bgcolor) !important; }

/* mute icon was showing weirdly */
.tab-icon-overlay { position: absolute; }

.private-browsing-indicator-with-label { display: none; }

/****************************************/
/* url bar suggestion compact */
.urlbarView {
    margin-inline: 0px !important;
    width: 100% !important;
    border-inline: 0px !important;
}
.urlbarView-row-inner { padding-block: 0px !important; }
.urlbarView-favicon {
    margin-inline-start: 2px !important;
    margin-inline-end: 2px !important;
}
.urlbarView-type-icon { display: none !important; }
.urlbarView-row[label] { margin-block-start: 0px !important; }
.urlbarView-row[label]::before { display: none !important; }
.urlbarView-results {
    max-height: 696px !important; /* TODO fix */
    overflow-y: auto !important;
    scrollbar-color: #DD6297 #eef4f9 !important;
    background-color: #eef4f9 !important;
}
.urlbarView-url {
  .urlbarView-row:not([selected]) & {
    color: gray !important;
  }
}
.urlbar-go-button, #searchmode-switcher-dropmarker { display: none !important; }
#urlbar-searchmode-switcher {
    background-color: unset !important;
    padding-inline: 0px !important;
    padding: 0px !important;
}
.urlbar-input-container { border: 0px !important; }

.toolbarbutton-badge {
    padding: 0px !important;
    box-shadow: unset !important;
    margin-top: 0px !important;
    margin-inline-end: 0px !important;
    background-color: rgba(47, 42, 42, 0.38);
    font-size: 11px !important;
}

:root {
    --urlbarView-results-padding: 0px !important;
    --urlbarView-row-gutter: 0px !important;
    --urlbarView-highlight-background: #DD6297 !important;
    --toolbarbutton-inner-padding: 0px !important;
}
.urlbarView-url, #urlbar { font-size: 12px !important; }
