/**
 * Custom user configuration file
 */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

#back-button, #forward-button { display:none!important; }

/* margin between favicon and tab name */
.tabbrowser-tab[image] .tab-label-container, .tabbrowser-tab[pendingicon] .tab-label-container, .tabbrowser-tab[busy] .tab-label-container {
  margin-left: 0;
}
.tab-icon-stack { width: auto !important; }

/* hide menu icon */
#PanelUI-button { display: none !important; }

/* since esr128? we get 1px black bottom border on navbar.. so hide that and create another */
#navigator-toolbox { border-bottom: 0 !important; }
#nav-bar { border-bottom: 1px solid var(--toolbar-bgcolor) !important; }

/* mute icon was showing weirdly */
.tab-icon-overlay { position: absolute; }

.private-browsing-indicator-with-label { display: none; }
